<div
      class="container-fluid mt-4 nav_color pb-2"
      style="background-color: #0b2a66"
    >
      <div class="row mt-2 pt-5 ps-3">
        <div class="col-lg-4 col-sm-12">
          <p class="text-muted">
            Our mission is to provide a free, world-class education to anyone,
            anywhere.
          </p>
          <p class="text-muted">
            Khan Academy is a 501(c)(3) nonprofit organization.
            <a class="anch3 text-white">Donate</a> or
            <a class="anch3 text-white">volunteer</a> today!
          </p>
        </div>
        <div class="col-lg-8 col-sm-12 ps-5">
          <div class="row">
            <div class="col-lg-3 col-sm-12">
              <p>
                <a class="text-white anch3" href="#">
                  <small>About</small>
                </a>
              </p>
              <p>
                <a class="text-white anch3" href="#">
                  <small>News</small>
                </a>
              </p>
              <p>
                <a class="text-white anch3" href="#">
                  <small> Impact</small>
                </a>
              </p>
              <p>
                <a class="text-white anch3" href="#">
                  <small>Our Teams</small>
                </a>
              </p>
              <p>
                <a class="text-white anch3" href="#">
                  <small>Our Interns</small>
                </a>
              </p>
              <p>
                <a class="text-white anch3" href="#">
                  <small>Careers</small>
                </a>
              </p>
              <p>
                <a class="text-white anch3" href="#">
                  <small> Internship</small>
                </a>
              </p>
            </div>
            <div class="col-lg-3 col-sm-12">
              <p class="text-muted">
                <small>Contact</small>
              </p>
              <p>
                <a class="text-white anch3" href="#">
                  <small> Add and subtract fractions</small>
                </a>
              </p>
              <p>
                <a class="text-white anch3" href="#">
                  <small>Help Center</small>
                </a>
              </p>
              <p>
                <a class="text-white anch3" href="#">
                  <small>Support Community</small>
                </a>
              </p>
              <p>
                <a class="text-white anch3" href="#">
                  <small>Press</small>
                </a>
              </p>
              <p class="text-muted">
                <small>Download our Apps</small>
              </p>
              <p>
                <a class="text-white anch3" href="#">
                  <small>Android app</small>
                </a>
              </p>
              <p>
                <a class="text-white anch3" href="#">
                  <small>iOS app</small>
                </a>
              </p>
            </div>
            <div class="col-lg-3 col-sm-12">
              <p class="text-muted">
                <small>Courses</small>
              </p>
              <p>
                <a class="text-white anch3" href="#">
                  <small>Math: Pre-K - 8th grade</small>
                </a>
              </p>
              <p>
                <a class="text-white anch3" href="#">
                  <small>Math: Get ready courses</small>
                </a>
              </p>
              <p>
                <a class="text-white anch3" href="#">
                  <small>Math: high school & college</small>
                </a>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="row ms-3">
        <div class="col-lg-2 col-sm-12 d-flex justify-content-center">
          <form class="text-muted">
            <label for="lang">Language</label>
            <select
              id="lang"
              class="text-white"
              style="background-color: #0b2a66 ;"
            >
              <option value="English">English</option>
              <option value="Urdu">Urdu</option>
              <option value="French">French</option>
              <option value="Spanish">Spanish</option>
              <option value="Italian">Italian</option>
            </select>
          </form>
        </div>
      </div>
      <div class="row mt-1">
        <div class="col-lg-4 col-sm-12 d-flex justify-content-center">
          <p class="text-muted">
            Country &#160;
            <a href="#" class="text-white anch3">
              <img
                src="https://cdn.kastatic.org/images/country-flag-icons/us-flag.png"
                alt="flag"
                width="15"
                height="15"
              />
              <small>U.S. &#160;</small>
            </a>
            <a href="#" class="text-white anch3">
              <img
                src="https://cdn.kastatic.org/images/country-flag-icons/india-flag.png"
                alt="flag"
                width="15"
                height="15"
              />
              <small>India &#160;</small>
            </a>
            <a href="#" class="text-white anch3">
              <img
                src="https://cdn.kastatic.org/images/country-flag-icons/mexico-flag.png"
                alt="flag"
                width="15"
                height="15"
              />
              <small>Mexico &#160;</small>
            </a>
            <a href="#" class="text-white anch3">
              <img
                src="https://cdn.kastatic.org/images/country-flag-icons/brazil-flag.png"
                alt="flag"
                width="15"
                height="15"
              />
              <small>Brazil</small>
            </a>
          </p>
        </div>
      </div>
      <hr class="nav_color" />
      <div class="row ms-2">
        <div class="col-lg-10 col-sm-12">
          <div class="row">
            <div class="col-lg-2 col-sm-12 d-flex justify-content-center">
              <p class="text-muted"><small> &copy;2021 Khan Academy</small></p>
            </div>
            <div class="col-lg-2 col-sm-12 d-flex justify-content-center">
              <a class="text-white anch3" href="#"
                ><small> Terms of use</small></a
              >
            </div>
            <div class="col-lg-2 col-sm-12 d-flex justify-content-center">
              <a class="text-white anch3" href="#"
                ><small> Privacy Policy</small></a
              >
            </div>
            <div class="col-lg-2 col-sm-12 d-flex justify-content-center">
              <a class="text-white anch3" href="#"
                ><small> Cookie Notice</small></a
              >
            </div>
          </div>
        </div>
        <div class="col-lg-2 col-sm-12 d-flex justify-content-center">
          <p>
            <i class="fa fa-instagram fa-lg text-white"></i>
            <i class="fa fa-facebook-official fa-lg text-white"></i>
            <i class="fa fa-twitter-square fa-lg text-white"></i>
          </p>
        </div>
      </div>
    </div>